html
 head
    title='Account detail page'
style
     include ../static/style.css
body
 h1 Account details 
 
 //p
    button
      id=js-remove
      data-id="<%= data.id %>"
      class=danger
      Remove

 table
      tr 
         td ID
         td #{data[0]._id}
      tr
         td Name
         td #{data[0].name} 
      tr
         td Email address
         td #{data[0].email}
      tr
         td Picture
         td <img src=/upload/#{data[0].cover} />

 a(class='button' href='/accounts') Return to account list


