html
 head
    title='Account detail page'
style
     include ../static/style.css
body
 h1 Account details 
 
 //p
    button
      id=js-remove
      data-id="<%= data.id %>"
      class=danger
      Remove

 table
      tr 
         td ID
         td #{data2[accountid-1].id}
      tr
         td Name
         td #{data2[accountid-1].name} 
      tr
         td Email address
         td #{data2[accountid-1].email}
      tr
         td Picture
         td <img src=/upload/#{data[accountid-1].cover} />

 a(class='button' href='/accounts') Return to account list

   //if (user) {
    Hello #{user.username} 
    } else {
    a href= "log-in" Log in
   
  
    //if (user) 
     a href=/log-out>Log out
