html
 head
    title='Account detail page'
style
     include ../static/style.css
     include head.pug
body
  h2= 'Account details' 
  .detailaccount
   table
      tr 
         td ID
         td #{data[0]._id}
      tr
         td Name
         td #{data[0].name} 
      tr
         td Email address
         td #{data[0].email}

   a.buttonreturn(href='/account/accounts') Return to account list
   
   section
      article
        .article-container
          .article-image-container
            img.article-image(src='')
          h2 #{data[0].name} 
          p 
           img(src='/images/emma.jpg' alt='persoon')
          p Email adres:  #{data[0].email}
          p Hoi! Ik ben #{data[0].name}
          
   
   //p
    button
      id=js-remove
      data-id="<%= data.id %>"
      class=danger
      Remove